Incorrect salt length for RSASSA PSS signatures

The wrong salt length value is being used for RSASSA PSS signatures.

RFC 7518 (JWA) says the following:

3.5.  Digital Signature with RSASSA-PSS

   This section defines the use of the RSASSA-PSS digital signature
   algorithm as defined in Section 8.1 of RFC 3447 [RFC3447] with the
   MGF1 mask generation function and SHA-2 hash functions, always using
   the same hash function for both the RSASSA-PSS hash function and the
   MGF1 hash function.  **The size of the salt value is the same size as
   the hash function output**.  All other algorithm parameters use the
   defaults specified in Appendix A.2.3 of RFC 3447.

The code in rsassa.c that generates signatures (sign()) fails to call EVP_PKEY_CTX_set_rsa_pss_saltlen() and therefore uses the default salt length value which is the maximum salt length.  This goes against the JWA specification which says that the salt length must be the same as the hash length.  Passing a value of -1 to EVP_PKEY_CTX_set_rsa_pss_saltlen() rectifies this issue.


Thanks for the report! This would be a very easy patch for a new contributor.

I'll give it a go, thanks.

Fixed in d933c920c3b64303cb87dc793f89b0ef79738636. Thanks for your contribution!